<div class="container">  
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <div class="row" style="padding: 5px">
        <div class="col" style="color: black; font-weight: bold">
          <a href="">{{this.sessionService.currentUser.name}}</a>
        </div>
        <div class="col" style="float: right">
          <button (click)="onEditProfileClicked()" block="true" class="btn btn-success btn-sm" type="button">Edit Profile</button>            
        </div>      
      </div>
      <div class="row">
        <div class="col" style="color: black;">
          {{this.sessionService.currentUser.email}}
        </div>
      </div>      
      <div class="row">
        <div class="col" style="color: black;">
          Points: 2466.3
        </div>
      </div>
    </div>    
  </div>
</div>
