
<div class="container-fluid">
    <div class="row">
      <div class="col">
        <span class="float-left" style="font-weight: bold">Donate</span>
      </div>
    </div>  
    <hr>
    <div class="container-fluid">
      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-body-tabs">
            <li>
              <a class="nav-link" data-toggle="tab" href="#paypal" style="color: black">PayPal</a>
            </li>
            <li>
              <a class="nav-link" data-toggle="tab" href="#banktransfer" style="color: black">Bank Transfer</a>
            </li>
            <li>
              <a class="nav-link" data-toggle="tab" href="#personal" style="color: black">Personal</a>
            </li>
          </ul>
          <div class="tab-content" style="padding: 5px">
            <div id="paypal" class="tab-pane fade">
              <h3>PayPal</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            <div id="banktransfer" class="tab-pane fade">
              <h3>Bank Transfer</h3>
              <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
            <div id="personal" class="tab-pane fade">
              <h3>Personal</h3>
              <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.                 
              </p>
          </div>
        </div>  
      </div>
        <div class="card-body">
          Thank you for supporting University Anonyme!
        </div>
      </div>
    </div>
    <div class="row">
      <span class="float-left" style="color: grey; font-size: 12px">
        <p>
          ProTip! Invite us for a shaurwma by donate an amount of money of a bus ticket!
        </p>  
      </span>
    </div> 
  </div>
  