<!-- Modal -->
<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            About
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Cool">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span style="font-weight: bold">
            Thank you for using Universite Anonyme!
          </span>
          <br><br>
          We're happy you're here.
          With Universite Anonyme you gain access to a platform where you can subscribe 
          to differend courses in many topics and learn from people all around the world. You can ask your questions 
          perfectly save anonym, share your thoughts and oppinion. You can make your own courses, bring your lessons online
          and share knowledge to people want to learn from you. This is the platform you are looking for if you are
          a teacher, a student, a hobbyist or just wanna share some knowledge with a circle of people.
          <br><br><hr>
          Register now, and start something cool today! You have all the services and functionality for free now!
          <br><br>
          <hr>          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cool</button>
        </div>
      </div>
    </div>
  </div>