<div class="container">
  
  <div class="header">
    My subscribtions
  </div>
  
  <div>
    <form role="search">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Find a course" name="q">
    </div>
    </form>
  </div>

  <ul class="list-group">
    <li *ngFor="let course of courses" class="list-group-item">
      <div class="container">
        <div class="row" style="font-size: 15px">
            <div class="col" style="color: cornflowerblue">
              {{course.name}}
            </div>
            <div class="col">
                <mdb-icon icon="heart"></mdb-icon>
            </div>  
        </div>
        <div class="row" style="font-size: 12px">
            <div class="col">
              Owner:
            </div>
            <div class="col">
                {{owner}}
            </div>  
        </div>
      </div>
    </li>
  </ul>
</div>