<!-- Default form login -->
<div class=container-fluid style="background-image: url(/assets/images/bg5.png)">
  <div class="row justify-content-center" style="padding: 10px">
    <form class="text-center border border-light p-5" style="background-color: white;">
      <p class="h4 mb-4">Login</p>
      <input type="email" id="usernameInput" name="username" class="form-control mb-4" placeholder="Username" [(ngModel)]="credentials.username">  
      <input type="password" id="passwordInput" name="password" class="form-control mb-4" placeholder="Password" [(ngModel)]="credentials.password">  
      <div class="d-flex justify-content-around">
        <div>
          <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
        </div>
      </div>  
      <div class="d-flex justify-content-around" *ngIf="this.loginAttemptRefused == true">
        <div>
          <span style="color: red">
              {{error_msg}}
          </span>
        </div>
      </div>
      <button mdbBtn (click)="onLoginClicked()" color="info" block="true" class="my-4" type="button">Sign in</button>
      <p>Not a member?
          <button mdbBtn routerLink="/register" routerLinkActive="active" color="info" block="true" class="my-3" type="button">Register</button>
      </p>
      <p>or sign in with:</p>
      <a type="button" class="light-blue-text mx-2">
        <mdb-icon icon="facebook"></mdb-icon>
      </a>
      <a type="button" class="light-blue-text mx-2">
        <mdb-icon icon="twitter"></mdb-icon>
      </a>
      <a type="button" class="light-blue-text mx-2">
        <mdb-icon icon="linkedin"></mdb-icon>
      </a>
      <a type="button" class="light-blue-text mx-2">
        <mdb-icon icon="github"></mdb-icon>
      </a>
    </form>
  </div>
</div>
