<div class="container">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <div class="row" style="padding: 5px; color: black; font-weight: bold">
          <div class=" col">
            <span class="float-left">Sessions</span>
            <button routerLink="" routerLinkActive="active" block="true" class="btn float-right btn-success btn-sm" type="button">New Session</button>
          </div>
        </div>
        <div class="row">
          <form role="search" style="float: none; margin: 0 auto;">
            <div class="input-group">
              <input type="text" class="form-control" [(ngModel)]="mySessionFilter" placeholder="Find session..." name="mySessionFilter">
            </div>
          </form>
        </div>
      </div>
      <div class="card-body">
        <div *ngFor="let sessions of sessions | filter: mySessionFilter">
          <a href="#" style="font-weight: bold; font-size: 12px">
            <i class="fa fa-bookmark"></i> {{session.name}}
          </a>
        </div>
      </div>
    </div>
  </div>