<!-- Modal -->
<div class="modal fade" id="termsofservice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Terms of Service
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span style="font-weight: bold">
          Thank you for using Universite Anonyme! We're happy you're here.
          Please read this Terms of Service agreement carefully before accessing or using Universite Anonyme.
          Because it is such an important contract between us and our users. 
          We have tried to make it as clear as possible for your convenience.
        </span>
          <br><br>
          1.
          <br>
          You must keep respect and avoid dumb quality comments. You can be a silent observer, keep your mouth shout is always a value.
          You can be the one who asks or the one who answer, but in both case think twice before type, so the quality will not fall in your conversations.
          <br><br>
          <hr>
          © 2018 <a href=""> btbo.com</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Accept</button>
      </div>
    </div>
  </div>
</div>