<div class="container">
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <div class="row" style="padding: 5px; color: black; font-weight: bold">
        <div class=" col">
          <span class="float-left">Subscribtions</span>
          <button routerLink="discover" routerLinkActive="active" block="true" class="btn float-right btn-info btn-sm" type="button">Discover</button>
        </div>
      </div>
      <div class="row">
        <input type="text" class="form-control" [(ngModel)]="myCoursesFilter" placeholder="Find course..." name="myCoursesFilter">
      </div>
    </div>
    <div class="card-body">
      <div *ngFor="let course of courses | filter: myCoursesFilter">
        <a [routerLink]="['/course', course.id]" routerLinkActive="active" style="font-weight: bold; font-size: 12px">
          <i class="fa fa-bookmark"></i> {{course.name}}
        </a>
      </div>
    </div>
  </div>
  <br>
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <div class="row" style="padding: 5px; color: black; font-weight: bold">
        <div class="col">
          <span class="float-left">My Courses</span>
          <button routerLink="/home/createcourse" routerLinkActive="active" block="true" class="btn float-right btn-success btn-sm" type="button">New Course</button>
        </div>
      </div>
      <div class="row">
        <input type="text" class="form-control" [(ngModel)]="subsFilter" placeholder="Find course..." name="subsFilter">
      </div>
    </div>
    <div class="card-body">
      <a *ngFor="let course of admindedCourses | filter: subsFilter" [routerLink]="['/course', course.id]" routerLinkActive="active" style="font-weight: bold; font-size: 12px">
        <i class="fa fa-bookmark"></i> {{course.name}}
        <br>
      </a>
    </div>
  </div>  
</div>