<!--The content below is only a placeholder and can be replaced.-->

<app-toolbar></app-toolbar>

<div class="container" style="padding: 10px">
    <div class="row" style="min-width: 500px;">
      <div class="col-8" [ngStyle]="{'background' : 'url(./assets/images/bg.svg)'}">
        <br><br>
        <h1 style="color: black; background: whitesmoke;">> sign up today</h1>           
        <br><br>
        <h1 style="color: black; background: whitesmoke;">> > bring your courses online</h1>           
        <br><br>
        <h1 style="color: black; background: whitesmoke;">> > > share knowledge</h1>           
      </div>
      <div class="col">
        <app-login></app-login>            
      </div>
    </div>
</div>

<app-footer></app-footer>