<!-- Default form login -->
<form class="text-center border border-light p-5" [formGroup]="loginForm" (ngSubmit)="onLoginClicked()">

    <p class="h4 mb-4">Sign in</p>
  
    <input type="email" id="emailInput" class="form-control mb-4" placeholder="E-mail">
  
    <input type="password" id="passwordInput" class="form-control mb-4" placeholder="Password">
  
    <div class="d-flex justify-content-around">
      <div>
        <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
      </div>
      <div>
        <a href="">Forgot password?</a>
      </div>
    </div>
  
    <button mdbBtn (clicked)="onLoginClicked()" [disabled]="loading" color="info" block="true" class="my-4" type="submit">Sign in</button>
  
    <p>Not a member?
      <a href="">Register</a>
    </p>
  
    <p>or sign in with:</p>
  
    <a type="button" class="light-blue-text mx-2">
      <mdb-icon icon="facebook"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
      <mdb-icon icon="twitter"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
      <mdb-icon icon="linkedin"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
      <mdb-icon icon="github"></mdb-icon>
    </a>
  
  </form>
