<div class="container">
    <div class="row">
      <span style="font-weight: bold">Create Course</span>
    </div>  
    <hr>
    <div class="container">
      <div class="row">
        Old password
      </div>
      <div class="row">
        <input type="password" class="form-control" [(ngModel)]="this.passwords.old" placeholder="Old password" name="old">
      </div>
      <br>
      <div class="row">
        New password
      </div>
      <div class="row">
        <input type="password" class="form-control" [(ngModel)]="this.passwords.new1" placeholder="New password" name="new1">
      </div>
      <br>  
      <div class="row">
        Repeat password
      </div>
      <div class="row">
        <input type="password" class="form-control" [(ngModel)]="this.passwords.new2" placeholder="Repeat password" name="new2">
        <span *ngIf="this.passwords.new1 != this.passwords.new2" style="font-size: 10px; color: darkred">
          Something is wrong! Check the passwords again please.
        </span>             
      </div>    
    </div>
    <br>
    <div class="container">
      <div class="row float-right">
        <button (click)="onUpdateClicked()" block="true" class="btn btn-success btn-sm" type="button">Update</button>
      </div>
    </div>
    <div class="row">
      <span class="float-left" style="color: grey; font-size: 12px">
        <p>
          ProTip! Security is priority!
        </p>  
      </span>
    </div> 
  </div>
  