.news-content {
    border: 1px solid;
    border-color: lightgray;
}

.news-name {
    font-weight: bold;
}

.fa-thumbs-down:hover {
    color: black;
}

.fa-thumbs-up:hover {
    color: black;
}

.news-icon-comment:hover {
    color: #070719;
}