<div class="container">  
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <div class="row" style="padding: 5px">
        <div class="col" style="color: black; font-weight: bold">
          <span style="color: #070719">
             > {{this.sessionService.currentUser.firstName}}
          </span>
        </div>
        <div class="col" style="float: right">
          <button routerLink="/settings" routerLinkActive="active" block="true" class="btn float-right btn-info btn-sm" type="button">Edit Profile</button>            
        </div>      
      </div>
      <div class="row">
        <div class="col" style="color: black; font-size: 12px">
          {{points}} points
        </div>
      </div>
    </div>      
  </div>
</div>
