<div class="container-fluid">
    <div class="row">
      <div class="col">
        <span class="float-left" style="font-weight: bold">Hot Courses</span>
      </div>
    </div>  
    <hr style="color: pink">
    <div class="row">
      <div class="card">
        <div class="card-header" style="font-weight: bold">
          Attention!
        </div>
        <div class="card-body">
          Invite codes may hava an expiration time, or maybe a maximum value of usage, it can be a rush to get into a course depends on owner!
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" [(ngModel)]="this.inviteCode" placeholder="Invite Code" name="inviteCode">
        <br>
        <button (click)="onJoinClicked()" class="btn btn-success btn-sm btn-block" type="button">Join</button>
      </div>  
      <div class="col">
      
      </div>  
    </div>
    <div class="row" *ngFor="let course of courses">
  
    </div>
    <hr>
    <div class="row">
      <span class="float-left" style="color: grey; font-size: 12px">
        <p>
          ProTip! You can subscribe and leave courses whenever you want!
        </p>  
      </span>
    </div> 
  </div>
  