<div class="container-fluid">
    <div class="row">
      <div class="col">
        <span class="float-left" style="font-weight: bold">Hot Courses</span>
      </div>
    </div>  
    <hr style="color: pink">
    <div class="row" *ngFor="let course of courses">
  
    </div>
    <hr>
    <div class="row">
      <span class="float-left" style="color: grey; font-size: 12px">
        <p>
          ProTip! You can subscribe and leave courses whenever you want!
        </p>  
      </span>
    </div> 
  </div>
  