<div class="container" style="padding: 5px;">
  <div class="row">
    <div class="col">
      <span class="float-left" style="color: darkblue; font-size: 20px">
        <i class="fa fa-box"></i> &nbsp;
        <a routerLink="/home/discover" routerLinkActive="active">Home</a> &nbsp;/
        <span style="font-weight: bold">Settings</span> &nbsp;
      </span>
    </div>    
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-2">  
      <app-profile-menu></app-profile-menu>
    </div>
    <div class="d-flex flex-column col" style="background-color: white">
      <hr>
      <router-outlet></router-outlet>
    </div>
  </div>      
</div>