<div class="container">  
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <div class="row" style="padding: 5px">
        <div class="col" style="color: black; font-weight: bold">
          <span style="color: #070719">
             <!-- > {{this.courseModuleService.course.name}} -->
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col" style="color: black; font-size: 12px">
          2466.3 subs
        </div>
      </div>
    </div>      
  </div>
</div>
