<nav class="navbar navbar-dark" style="background-color: #070719; color: #fff;">
  <a class="navbar-brand" href="/">{{title}}</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home</a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a *ngIf="sessionService.authenticated == false" class="nav-item nav-link active" href="#">Login</a>
      <a *ngIf="sessionService.authenticated == false" class="nav-item nav-link active" href="#">Sign Up</a>
      <a ng-click="onLogoutClicked()" *ngIf="sessionService.authenticated == true" class="nav-item nav-link active" href="">Logout</a>
      <a class="nav-item nav-link" href="https://github.com/artibarti/btbo-universite-anonyme-client" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>
</nav>