<div class="container-fluid">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-body-tabs">
        <li>
          <a class="nav-link" data-toggle="tab" href="#description" style="color: black">About</a>
        </li>
        <li>
          <a class="nav-link" data-toggle="tab" href="#stats" style="color: black">Statistics</a>
        </li>
        <li>
          <a class="nav-link" data-toggle="tab" href="#settings" style="color: black">Settings</a>
        </li>
      </ul>
      <div class="tab-content" style="padding: 5px">
        <div id="description" class="tab-pane fade">
          <h3> > about this course</h3>
          <p>
            <!-- {{this.courseModuleService.course.descriptions}} -->
          </p>
        </div>
        <div id="stats" class="tab-pane fade">
          <h3> > statistics</h3>
          <div style="display: block">
            <canvas mdbChart
                [chartType]="chartType"
                [datasets]="chartDatasets"
                [labels]="chartLabels"
                [colors]="chartColors"
                [options]="chartOptions"
                [legend]="true">
            </canvas>
          </div>
        </div>
        <div id="settings" class="tab-pane fade">
          <h3> > settings</h3>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
          </p>
          <div class="row">
            <div class="col">
              <button (click)="onLeaveCourseClicked()" block="true" class="btn btn-danger btn-sm" type="button">Leave Course</button>            
            </div>
          </div>
      </div>
    </div>  
  </div>
    <div class="card-body">
      course room goes below
    </div>
  </div>
</div>