<div class="container">
  <div class="row">
    <span style="font-weight: bold">Edit Profile</span>
  </div>  
  <hr>
  <div class="container w-50 float-left">
    <div class="row">
      Firstname
    </div>
    <div class="row">
      <input type="text" class="form-control" [(ngModel)]="this.user.firstName" placeholder="Firstname" name="firstName">
    </div>
    <br>
    <div class="row">
      Lastname
    </div>
    <div class="row">
      <input type="text" class="form-control" [(ngModel)]="this.user.lastName" placeholder="Lastname" name="lastName">
    </div>
    <br>  
    <div class="row">
      Email
    </div>
    <div class="row">
      <input type="text" class="form-control" [(ngModel)]="this.user.email" placeholder="E-mail" name="email">
      <span *ngIf="this.showError" style="font-size: 14px; color: darkred">
        {{errorMsg}}
      </span>             
    </div>
    <br>
    <div class="row">
      <button (click)="onUpdateClicked()" block="true" class="btn btn-success btn-md" type="button">Update</button>
    </div>
    <br>
    <hr>        
    <div class="row">
      <span class="float-left" style="color: grey; font-size: 12px">
        ProTip! Complete your profile! Keep it updated!
      </span>      
    </div>  
  </div>
  <br>
</div>
