<div class="container">
  <div class="row">
    <span style="font-weight: bold">Edit Profile</span>
  </div>  
  <hr>
  <div class="container">
    <div class="row">
      Firstname
    </div>
    <div class="row">
      <input type="text" class="form-control" [(ngModel)]="this.user.firstName" placeholder="Firstname" name="firstName">
    </div>
    <br>
    <div class="row">
      Lastname
    </div>
    <div class="row">
      <input type="text" class="form-control" [(ngModel)]="this.user.lastName" placeholder="Lastname" name="lastName">
    </div>
    <br>  
    <div class="row">
      Email
    </div>
    <div class="row">
      <input type="text" class="form-control" [(ngModel)]="this.user.email" placeholder="E-mail" name="email">
      <span style="font-size: 10px; color: grey">
        Please choose a valid e-mail address to make your experience better!
      </span>             
    </div>    
  </div>
  <br>
  <div class="container">
    <div class="row float-right">
      <button (click)="onUpdateClicked()" block="true" class="btn btn-success btn-sm" type="button">Update</button>
    </div>
  </div>
  <div class="row">
    <span class="float-left" style="color: grey; font-size: 12px">
      <p>
        ProTip! Complete your profile! Keep it updated!
      </p>  
    </span>
  </div> 
</div>
