<nav class="navbar navbar-dark" style="background-color: #070719; color: #fff;">
  <a class="navbar-brand" href="" style="font: 2em  Lucida Console;">{{title}}</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a *ngIf="sessionService.authenticated == true" routerLink="/home/news" routerLinkActive="active" class="nav-item nav-link active">Home</a>
      <a href="#about" class="nav-item nav-link active" data-toggle="modal" data-target="#about">About</a>
      <a *ngIf="sessionService.authenticated == true" routerLink="home/discover" routerLinkActive="active" class="nav-item nav-link active" href="/">Explore</a>
      <a *ngIf="sessionService.authenticated == true" routerLink="home/news" routerLinkActive="active" class="nav-item nav-link active" href="/">Activity</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <div class="dropdown" *ngIf="sessionService.authenticated == true">
        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-bell" style="color: white"></i>
        </a>      
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Notifications</a>
          <a class="dropdown-item" href="#">Admin roles</a>
          <a routerLink="/profile" routerLinkActive="active" class="dropdown-item">Profile</a>
          <div class="dropdown-divider"></div>          
          <a routerLink="/profile" routerLinkActive="active" class="dropdown-item">Settings</a>
          <a routerLink="/login" routerLinkActive="active" class="dropdown-item" role="link">Logout</a>
        </div>
      </div>
      <div class="dropdown" *ngIf="sessionService.authenticated == true">
        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-plus" style="color: white"></i>
        </a>      
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Create Course</a>
          <a class="dropdown-item" href="#">Manage Courses</a>
        </div>
      </div>
      <button routerLink="/login" routerLinkActive="active" style="margin: 5px" mdbBtn *ngIf="sessionService.authenticated == false" type="button" class="btn btn-primary navbar-btn">Login</button>
      <button routerLink="/register" routerLinkActive="active" style="margin: 5px" mdbBtn *ngIf="sessionService.authenticated == false" type="button" class="btn btn-primary navbar-btn">SignUp</button>
      <form *ngIf="sessionService.authenticated == true" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
      </form>
      <a class="nav-item nav-link" href="https://github.com/artibarti/btbo-universite-anonyme-client" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/elonmusk" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>
</nav>

<!-- about popup modal -->
<app-about-popup></app-about-popup>