<nav class="navbar navbar-dark" style="background-color: #070719; color: #fff;">
  <a class="navbar-brand" href="" style="font: 2em  Lucida Console;">{{title}}</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home</a>
      <a href="#about" class="nav-item nav-link active" data-toggle="modal" data-target="#about">About</a>
      <a class="nav-item nav-link active" href="/">Explore</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <div class="dropdown" *ngIf="sessionService.authenticated == true">
        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-bell"></i>
        </a>      
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Notifications</a>
          <a class="dropdown-item" href="#">Admin roles</a>
          <a class="dropdown-item" href="#">Profile</a>
          <div class="dropdown-divider"></div>          
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" (click)="onLogoutClicked()">Logout</a>
        </div>
      </div>
      <button routerLink="/login" routerLinkActive="active" style="margin: 5px" mdbBtn (click)="onLoginClicked()" *ngIf="sessionService.authenticated == false" type="button" class="btn btn-primary navbar-btn">Login</button>
      <button routerLink="/register" routerLinkActive="active" style="margin: 5px" mdbBtn (click)="onSignUpClicked()" *ngIf="sessionService.authenticated == false" type="button" class="btn btn-primary navbar-btn">SignUp</button>
      <a class="nav-item nav-link" href="https://github.com/artibarti/btbo-universite-anonyme-client" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>
</nav>

<!-- about popup modal -->
<app-about-popup></app-about-popup>